<html lang="en">

	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="Helping developers and designers connect with influenetial individuals.">
	    <meta name="author" content="Kevin Michael & Peter Gokshteyn">
	    <link rel="shortcut icon" href="#"> <!-- double check -->
	    <title>ViewFarm: Drive Traffic.</title>

	    <!-- Bootstrap core CSS -->
	    <link href="css/bootstrap.min.css" rel="stylesheet">
	    <!-- Custom styles for this template -->
	    <link href="/static/website/cover.css" rel="stylesheet">
	</head>

	<body>
		<h3 id="firstView">VIEW</h3>
		<img src="/static/website/ViewRanchLogoNoText.png">
		<h3>FARM</h3>
	    <h1>Find Influence. Drive Traffic.</h1>
	    <h2>Helping developers and designers connect with influenetial individuals.</h2>
	    <a href="mailto:kevin.michael.905@gmail.com" class="button">Contact Us</a>
	    	
	</body>


</html>
