body {
   height:100%;
   width:100%;
   background-image:url(/static/website/assets/background-dark.jpg); /*your background image*/
   /*css hack for ie*/
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/website/assets/background-dark-2.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/website/assets/background-dark-2.jpg', sizingMethod='scale')";
   /*we want to have one single image not a repeated one*/
   background-repeat:no-repeat;
   /*this sets the image to fullscreen covering the whole screen*/
   background-size:cover; 
   text-align: center;
   color: white;
   font-family: Corbel, Arial;
   margin-top: 100px;
}

body, img {
    margin-top:0px;
}

body, h1 {
	 font-size: 90px;
	 font-weight: bold;
   margin: auto;
   margin-top: 60px;
}

body, h2 {
	 font-size: 25px;
}

body, h3 {
  font-size: 25px;
  font-style: bold;
  text-shadow: 1px 1px 2px black;
  margin-top: 0px;
  margin-bottom: 0px;
}

#firstView {
  margin-top: 150px;
}

.container {
  position: absolute;
  width: 100%;
}

#contactTab {
  left: 150%;
}

.button {
    margin: auto;
    margin-top: 80px;
    display: block;
    width: 190px;
    color: white;
    background: none;
    border: 2px solid white;
    padding: 15px 0px 15px 0px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
   background-color: rgba(255,255,255,0.2);
};